* {
    font-family: 'Kanit', sans-serif;
    color: black;
    margin: 0;
}

body {
    background-color: lightgrey;
}
 
header h1 {
    color: white;
    font-size: 60px;
}

.card-header {
    font-size: 30px;
}

.form-title {
    font-size: 1.2em;
}
  
.card {
    width: 100%;
}

.container p-3 {
    color;
}

